.anim {
  color: white;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;

  position: relative;
  width: 90%;
  margin: auto;
}

.anim span {
  font-size: 0%;
  margin-left: 40px;
}

.message {
  color: white;
  font-size: 100%;
  display: block;
  font-weight: 900;
  position: relative;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 0px;
  font-size: 6vw;
}

.word1,
.word2,
.word3 {
  position: absolute;
  width: 100%;
  margin-bottom: 15%;
  font-family: tahoma;
  animation: openclose 5s ease-in-out infinite;
}
.word1 {
  animation: first 10s ease-in-out infinite;
}
.word2 {
  animation: second 10s ease-in-out infinite;
}
.word3 {
  animation: third 10s ease-in-out infinite;
}

@keyframes first {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes second {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes third {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  41% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  74% {
    opacity: 1;
  }
  83% {
    opacity: 1;
  }
  91% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
